*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body, html
{
   background-color: white;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.global_header
{
   position: absolute;
   top: 1em;
   left: 1em;
   right: 1em;
   height: 5em;
   background-image: url(/asset/svg/header_top_left.svg);
   background-position: left top;
   background-repeat: no-repeat;
}

.global_footer
{
   position: absolute;
   bottom: 1em;
   left: 1em;
   right: 1em;
   height: 5em;
   background-image: url(/asset/svg/header_top_right.svg);
   background-position: right bottom;
   background-repeat: no-repeat;
}
