@import '../shared/font/sage_sans.scss';

body
{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.challenge_body
{
   margin: 8em;
   background-color: lightgrey;
   border-radius: 2em;
   border: 0.1em solid grey;
   width: max-content;
   align-self: center;
}

.challenge_footer,
.challenge_header
{
   font-family: 'SageSans';
   position: absolute;
   font-size: 3em;
}

.challenge_header
{
   top: 0.5em;
   left: 0.5em;
}

.challenge_footer
{
   bottom: 0.5em;
   right: 0.5em;
}

.challenge_message
{
   font-family: 'SageSans';
   font-size: 2em;
   margin: 2em;
   text-align: center;
}
